<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Searcher - Iniciar Sesión</title>
    <link rel="icon" href="/images/logo2.png" type="image/png">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <!-- Sidebar Navigation -->
    <div class="sidebar">  
        <!-- Nombre del sitio -->
        <h2 class="site-title" class="fade-in">A! Searcher</h2>
        <!-- Logotipo debajo del título -->
        <div>
            <img src="/images/logo2.png" alt="AI Searcher Logo" class="logo">
        </div>
        <ul>
            <li style="--order: 1;"><a href="/">Inicio</a></li>
            <li style="--order: 2;"><a href="login.html">Login</a></li>
            <li style="--order: 3;"><a href="register.html">Registro</a></li>
            <li style="--order: 4;"><a href="profile.html">Perfil</a></li>
        </ul>
    </div>
    <!-- Main Content -->
    <div class="main-content">
        <h1 class="fade-in">Iniciar Sesión</h1>
        <form id="loginForm">
            <input type="text" id="email" name="email" placeholder="Correo electrónico">
    <input type="password" id="password" name="password" placeholder="Contraseña">
    <button type="submit">Iniciar sesión</button>
        </form>
    </div>

    <!-- Footer -->
    <footer class="footer fade-in">
        <div class="container">
            <p class='fade-in'>Encuéntranos en nuestras redes sociales:</p>
            <div class="social-links">
                <a class='fade-in' href="https://www.facebook.com" target="_blank">
                    <i class="fab fa-facebook-f"></i> Facebook
                </a> |
                <a class='fade-in' href="https://www.twitter.com" target="_blank">
                    <i class="fab fa-twitter"></i> Twitter
                </a> |
                <a class='fade-in' href="https://www.instagram.com" target="_blank">
                    <i class="fab fa-instagram"></i> Instagram
                </a> |
                <a class='fade-in' href="https://www.linkedin.com" target="_blank">
                    <i class="fab fa-linkedin"></i> LinkedIn
                </a>
            </div>
            <p>&copy; 2024 AI Searcher. Todos los derechos reservados.</p>
        </div>
    </footer>

    <!-- JavaScript -->
    <script src="js/main.js" defer></script>
</body>
</html>
